<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AlphaFS" version="2.2.6" targetFramework="net46" />
  <package id="Costura.Fody" version="3.1.0" targetFramework="net46" />
  <package id="DeviceIOControlLib" version="0.1.4" targetFramework="net46" />
  <package id="DiscUtils.Core" version="0.13.0-alpha" targetFramework="net46" />
  <package id="DiscUtils.Ntfs" version="0.13.0-alpha" targetFramework="net46" />
  <package id="DiscUtils.Streams" version="0.13.0-alpha" targetFramework="net46" />
  <package id="FluentCommandLineParser" version="1.4.3" targetFramework="net452" />
  <package id="Fody" version="3.2.1" targetFramework="net46" developmentDependency="true" />
  <package id="NLog" version="4.5.9" targetFramework="net46" />
  <package id="RawDiskLib" version="0.1.4" targetFramework="net46" />
</packages>